<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="header">notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="assets/images/product-1.jpg" loading="lazy" alt=""/>
      </ion-avatar>
      <ion-label>
        <h2><b>product title</b>Put some little content to fit here</h2>
      </ion-label>
      <div class="right_end" slot="end">
        <small>10 mins</small>
      </div>
    </ion-item>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="assets/images/product-3.jpg" loading="lazy" alt=""/>
      </ion-avatar>
      <ion-label>
        <h2><b>product title</b>Put some little content to fit here</h2>
      </ion-label>
      <div class="right_end" slot="end">
        <small>1d</small>
      </div>
    </ion-item>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="assets/images/product-1.jpg" loading="lazy" alt=""/>
      </ion-avatar>
      <ion-label>
        <h2><b>product title</b>Put some little content to fit here</h2>
      </ion-label>
      <div class="right_end" slot="end">
        <small>1w</small>
      </div>
    </ion-item>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="assets/images/product-3.jpg" loading="lazy" alt=""/>
      </ion-avatar>
      <ion-label>
        <h2><b>product title</b>Put some little content to fit here</h2>
      </ion-label>
      <div class="right_end" slot="end">
        <small>5w</small>
      </div>
    </ion-item>

  </ion-list>

</ion-content>
