ion-item {
    &:nth-child(odd) {
      --background: white;
    }
    ion-avatar {
      height: 45px;
      width: 45px;
    }
  
    ion-label {
      white-space: normal;
      padding: 5px 0 0 0;
      height: 100%;
      margin: 0;
  
      h2 {
        line-height: 20px;
        font-weight: normal;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.6);
        letter-spacing: 0.1px;
        margin-top: 0;
  
        b {
          color: rgba(32, 32, 32, 1);
          margin-right: 6px;
        }
      }
    }
  
    .right_end {
      padding-top: 4px;
      height: 100%;
  
      small {
        opacity: 0.6;
        text-align: right;
        font-weight: normal;
        font-size: 11px;
        color: rgba(0, 0, 0, 1);
      }
    }
  }
  