<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="header">Addresses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="add">
    <div class="flex">
      <ion-item class="ion-no-padding" lines="none">
        <div class="as">
          <ion-label position="floating">First Name</ion-label>
          <ion-input value="John"></ion-input>
        </div>
      </ion-item>
      <ion-item class="ion-no-padding" lines="none">
        <div class="as">
          <ion-label position="floating">Last Name</ion-label>
          <ion-input value="Doe"></ion-input>
        </div>
      </ion-item>
      <ion-item class="ion-no-padding" lines="none">
        <div class="as">
  
        <ion-select placeholder="Select Country">
          <ion-select-option value="f">Country</ion-select-option>
          <ion-select-option value="m">Country</ion-select-option>
        </ion-select>
        </div>
      </ion-item>
      <ion-item class="ion-no-padding" lines="none">
        <div class="as">
        <ion-select placeholder="Region / State">
          <ion-select-option value="f">Country</ion-select-option>
          <ion-select-option value="m">Country</ion-select-option>
        </ion-select>
        </div>
      </ion-item>
      <ion-item class="ion-no-padding" lines="none">
        <div class="as">
          <ion-label position="floating">Block</ion-label>
          <ion-input value="Abdullah"></ion-input>
        </div>
      </ion-item>
      <ion-item class="ion-no-padding" lines="none">
        <div class="as">
          <ion-label position="floating">Street</ion-label>
          <ion-input value="S.P Singha Road"></ion-input>
        </div>
      </ion-item>
      <ion-item class="ion-no-padding" lines="none">
        <div class="as">
          <ion-label position="floating">Avenue</ion-label>
          <ion-input value="Martin Louis Avenue"></ion-input>
        </div>
      </ion-item>
      <ion-item class="ion-no-padding" lines="none">
        <div class="as">
          <ion-label position="floating">House / Building No.</ion-label>
          <ion-input value="123456"></ion-input>
        </div>
      </ion-item>
      <ion-item class="ion-no-padding" lines="none">
        <div class="as">
          <ion-label position="floating">Floor</ion-label>
          <ion-input value="3rd Floor"></ion-input>
        </div>
      </ion-item>
      <ion-item class="ion-no-padding" lines="none">
        <div class="as">
          <ion-label position="floating">Flat / Apartment</ion-label>
          <ion-input value="Abasan"></ion-input>
        </div>
      </ion-item>
    </div>
  </div>
    <div class="buynow">
      <ion-button class="full" expand="block" mode="md">
        Save
      </ion-button>
    </div>
  </ion-content>
