<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="header">Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="add">
    <div class="flex">
      <ion-item class="ion-no-padding" lines="none">
        <div class="as">
          <ion-label position="floating">Password </ion-label>
          <ion-input value="**********"></ion-input>
          <span>Show</span>
        </div>

      </ion-item>
      <ion-item class="ion-no-padding" lines="none">
        <div class="as">
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input value="*********"></ion-input>
          <span>Show</span>
        </div>
      </ion-item>

    </div>
  </div>

</ion-content>
<ion-footer mode="ios">
  <div class="buynow">
    <ion-button class="full" expand="block">
      Change Password
    </ion-button>
  </div>
</ion-footer>
