<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="header">about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h4>about Hrali fashion app</h4>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore quisquam
      soluta maiores laudantium. Vitae excepturi eligendi quisquam unde dicta
      dolore laborum eos? Fugiat, dolor repellat!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore quisquam
      soluta maiores laudantium. Vitae excepturi eligendi quisquam unde dicta
      dolore laborum eos? Fugiat, dolor repellat!
    </p>
    <div class="pic-area">
      <img src="assets/images/new-illustration1.svg" loading="lazy" alt="" />
    </div>
  </div>
</ion-content>
