<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="header">FAQ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-area">
    <div class="content-area">
      <h2>
        Q. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet asperiores distinctio dolore doloremque id magnam molestias quas repellendus sit. Cumque, eligendi illo ipsam saepe sequi similique vero voluptates? Quas.
      </p>
    </div>
    <div class="content-area">
      <h2>
        Q. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet asperiores distinctio dolore doloremque id magnam molestias quas repellendus sit. Cumque, eligendi illo ipsam saepe sequi similique vero voluptates? Quas.
      </p>
    </div>
    <div class="content-area">
      <h2>
        Q. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet asperiores distinctio dolore doloremque id magnam molestias quas repellendus sit. Cumque, eligendi illo ipsam saepe sequi similique vero voluptates? Quas.
      </p>
    </div>
    <div class="content-area">
      <h2>
        Q. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet asperiores distinctio dolore doloremque id magnam molestias quas repellendus sit. Cumque, eligendi illo ipsam saepe sequi similique vero voluptates? Quas.
      </p>
    </div>
    <div class="content-area">
      <h2>
        Q. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet asperiores distinctio dolore doloremque id magnam molestias quas repellendus sit. Cumque, eligendi illo ipsam saepe sequi similique vero voluptates? Quas.
      </p>
    </div>
    <div class="content-area">
      <h2>
        Q. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet asperiores distinctio dolore doloremque id magnam molestias quas repellendus sit. Cumque, eligendi illo ipsam saepe sequi similique vero voluptates? Quas.
      </p>
    </div>
    <div class="content-area">
      <h2>
        Q. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet asperiores distinctio dolore doloremque id magnam molestias quas repellendus sit. Cumque, eligendi illo ipsam saepe sequi similique vero voluptates? Quas.
      </p>
    </div>
    <div class="content-area">
      <h2>
        Q. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet asperiores distinctio dolore doloremque id magnam molestias quas repellendus sit. Cumque, eligendi illo ipsam saepe sequi similique vero voluptates? Quas.
      </p>
    </div>
    <div class="content-area">
      <h2>
        Q. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet asperiores distinctio dolore doloremque id magnam molestias quas repellendus sit. Cumque, eligendi illo ipsam saepe sequi similique vero voluptates? Quas.
      </p>
    </div>
  </div>
  </ion-content>
