ion-content{
    .main-area{
      width: 100%;
      position: relative;
      .pic-area{
        width: 100%;
        position: relative;
        text-align: center;
        margin-top: 25px;
        img{
          width: 68px;
        }
      }
      .header-area{
        position: relative;
        h2{
          color: #65839b;
          font-weight: 600;
          font-size: 18px;
          text-align: center;
          text-transform: capitalize;
        }
        p{
          text-align: center;
          color: #f66750;
          font-weight: 600;
          font-size: 17px;
        }
      }
      .inner-text{
        width: 100%;
        position: relative;
        padding: 0 25px;
        p{
          color: #858383;
          font-size: 15px;
          line-height: 23px;
          text-align: center;
        }
        h3{
          text-transform: uppercase;
          text-align: center;
          font-size: 15px;
          font-weight: 700;
          color: #666666;
          margin: 20px 0;
        }
        h4{
          color: #65839b;
          text-align: center;
          font-size: 16px;
          border: 1px dashed #65839b;
          padding: 13px 8px;
          width: 150px;
          margin: 0 auto;
          border-radius: 10px;
          text-shadow: 0px 1px 0px #65839ba8;
        }
      }
    }
    ion-fab{
      margin-top: 186px;
    }
  }