<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="header"> my orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="add">
    <ion-card routerLink="/orderid" mode="md">
        <p>Order ID: 65151<span>08/08/2021</span></p>
        <h4>₹ 4500.000 <ion-label>Completed</ion-label> </h4>
    </ion-card>
    <ion-card routerLink="/orderid" mode="md">
      <p>Order ID: 65151<span>08/08/2021</span></p>
      <h4>₹ 4500.000 <ion-label>Completed</ion-label> </h4>
  </ion-card>
  <ion-card routerLink="/orderid" mode="md">
    <p>Order ID: 65151<span>08/08/2021</span></p>
    <h4>₹ 4500.000 <ion-label>Completed</ion-label> </h4>
</ion-card>
<ion-card routerLink="/orderid" mode="md">
  <p>Order ID: 65151<span>08/08/2021</span></p>
  <h4>₹ 4500.000 <ion-label>Completed</ion-label> </h4>
</ion-card>
<ion-card routerLink="/orderid" mode="md">
  <p>Order ID: 65151<span>08/08/2021</span></p>
  <h4>₹ 4500.000 <ion-label>Completed</ion-label> </h4>
</ion-card>
<ion-card routerLink="/orderid" mode="md">
  <p>Order ID: 65151<span>08/08/2021</span></p>
  <h4>₹ 4500.000 <ion-label>Completed</ion-label> </h4>
</ion-card>
<ion-card routerLink="/orderid" mode="md">
  <p>Order ID: 65151<span>08/08/2021</span></p>
  <h4>₹ 4500.000 <ion-label>Completed</ion-label> </h4>
</ion-card>
<ion-card routerLink="/orderid" mode="md">
  <p>Order ID: 65151<span>08/08/2021</span></p>
  <h4>₹ 4500.000 <ion-label>Completed</ion-label> </h4>
</ion-card>
<ion-card routerLink="/orderid" mode="md">
  <p>Order ID: 65151<span>08/08/2021</span></p>
  <h4>₹ 4500.000 <ion-label>Completed</ion-label> </h4>
</ion-card>
<ion-card routerLink="/orderid" mode="md">
  <p>Order ID: 65151<span>08/08/2021</span></p>
  <h4>₹ 4500.000 <ion-label>Completed</ion-label> </h4>
</ion-card>
<ion-card routerLink="/orderid" mode="md">
  <p>Order ID: 65151<span>08/08/2021</span></p>
  <h4>₹ 4500.000 <ion-label>Completed</ion-label> </h4>
</ion-card>
<ion-card routerLink="/orderid" mode="md">
  <p>Order ID: 65151<span>08/08/2021</span></p>
  <h4>₹ 4500.000 <ion-label>Completed</ion-label> </h4>
</ion-card>

  </div>
  </ion-content>
