<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-buttons slot="start" mode="ios">
      <ion-back-button text="" name="chevron-back-outline" defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="top">
      <div class="logo">
          <img src="assets/images/logo.png" loading="lazy" alt=""/>
          <!-- <h3>hrali fashion</h3> -->
      </div>
  </div>
  <div class="bottom">
      <div class="top1">
          <h2>Forgot Password</h2>
          <p> Don't worry we will handle this situation, please put your registered email ID to continue </p>
        </div>
      <div class="flex">
          <ion-item class="ion-no-padding" lines="none">
              <div class="as">
                  <ion-label position="floating"> Email</ion-label>
                  <ion-input value="johndoe@gmail.com"></ion-input>
              </div>
          </ion-item>
      </div>
    <div class="button-inner" style="text-align: center;">
      <ion-button style="width: 100% !important;">reset password</ion-button>
    </div>
  </div>
</ion-content>

