<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" (click)="productdisplay()"></ion-back-button>
    </ion-buttons>
    <ion-title class="header">filter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-row>
   <ion-col size="3" no-padding>
     <ion-segment [(ngModel)]="filterList">
       <ion-segment-button value="price">
         Price
       </ion-segment-button>
       <ion-segment-button value="color">
         Color
       </ion-segment-button>
       <ion-segment-button value="size">
         Size
       </ion-segment-button>
       <ion-segment-button value="brand">
         Brand
       </ion-segment-button>
       <ion-segment-button value="gender">
         Gender
       </ion-segment-button>
       <ion-segment-button value="discount">
         Discount
       </ion-segment-button>
     </ion-segment>
   </ion-col>
   <ion-col size="9" no-padding style="background: #fff;">
     <div [ngSwitch]="filterList" class="segment-display">
       <ion-list *ngSwitchCase="'price'">
         <div class="ion-padding">
           <ion-list-header>
             <div class="value">
               <small>Min</small>
               <input type="tel" ngModel="₹{{priceRange.lower}}">
             </div>
             <div class="value">
               <small>Max</small>
               <input type="tel" ngModel="₹{{priceRange.upper}}">
             </div>
           </ion-list-header>
           <ion-item>
             <ion-range [(ngModel)]="priceRange" dualKnobs="true" min="35" max="500" step="3" pin="true" snaps="true"></ion-range>
           </ion-item>
         </div>
       </ion-list>

       <ion-list *ngSwitchCase="'size'">
         <div class="ion-padding overflow">
           <ion-item *ngFor="let entry of size">
             <ion-label>{{entry.val}}</ion-label>
             <ion-checkbox slot="end" [(ngModel)]="entry.isChecked" mode="ios"></ion-checkbox>
           </ion-item>
         </div>
       </ion-list>

       <ion-list *ngSwitchCase="'color'">
         <div class="ion-padding overflow">
           <ion-item *ngFor="let entry of color">
             <ion-label>{{entry.val}}</ion-label>
             <ion-checkbox slot="end" [(ngModel)]="entry.isChecked" mode="ios"></ion-checkbox>
           </ion-item>
         </div>
       </ion-list>

       <ion-list *ngSwitchCase="'brand'">
         <div class="ion-padding overflow">
           <ion-item *ngFor="let entry of brand">
             <ion-label>{{entry.val}}</ion-label>
             <ion-checkbox slot="end" [(ngModel)]="entry.isChecked" mode="ios"></ion-checkbox>
           </ion-item>
         </div>
       </ion-list>

       <ion-list *ngSwitchCase="'gender'">
         <div class="ion-padding overflow">
           <ion-radio-group>
             <ion-item>
               <ion-label>Male</ion-label>
               <ion-radio slot="end" value="male" mode="ios" checked></ion-radio>
             </ion-item>

             <ion-item>
               <ion-label>Female</ion-label>
               <ion-radio slot="end" value="female" mode="ios"></ion-radio>
             </ion-item>

             <ion-item>
               <ion-label>Boy</ion-label>
               <ion-radio slot="end" value="boy" mode="ios"></ion-radio>
             </ion-item>

             <ion-item>
               <ion-label>Girl</ion-label>
               <ion-radio slot="end" value="girl" mode="ios"></ion-radio>
             </ion-item>

             <ion-item>
               <ion-label>Unisex</ion-label>
               <ion-radio slot="end" value="unisex" mode="ios"></ion-radio>
             </ion-item>
           </ion-radio-group>
         </div>
       </ion-list>

       <ion-list *ngSwitchCase="'discount'">
         <div class="ion-padding overflow">
           <ion-item *ngFor="let entry of discount">
             <ion-label>{{entry.val}}</ion-label>
             <ion-checkbox slot="end" [(ngModel)]="entry.isChecked" mode="ios"></ion-checkbox>
           </ion-item>
         </div>
       </ion-list>

     </div>
   </ion-col>
 </ion-row>
</ion-content>
<ion-footer>
  <ion-button>Search</ion-button>
</ion-footer>
