<ion-content>
  <div class="main-area">
      <div class="logo-area">
          <img src="assets/images/logo.png" loading="lazy" alt=""/>
          <!-- <h3>hrali fashion</h3> -->
      </div>
      <div class="header-area">
          <p>
              Build a sucessfull marketplace<br> business fast
          </p>
      </div>
      <div class="text-area">
          <h3>
              Customers schedule. As a result-everyone is pleased
          </h3>
      </div>
      <div class="lower-pic">
          <img src="assets/images/bg-pic.png" loading="lazy" alt=""/>
          <div class="button-area" routerLink="/tabs/home">
              <ion-button class="full" expand="block">get started</ion-button>
          </div>
      </div>
  </div>
</ion-content>
