ion-menu{
  .menu-header {
    padding: 16px 22px 14px;
    h4 {
      color: #fff;
      margin: 62px 0 2px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: 17px;
    }
    p {
      color: #fff;
      margin: 2px 0 4px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: 14px;
    }
  }
  .menu-content {
    ion-item {
      --border-color:#fff!important;
      --min-height: 38px!important;
      ion-icon {
        margin-right: 10px; font-size: 18px;
      }
      ion-label {
        font-size: 14px;
      }
    }
  }
  .bg{ --background: url('../assets/images/bg.png') no-repeat bottom right;  }
}

  