<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" mode="ios">
      <ion-back-button text="" name="chevron-back-outline" defaultHref="tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>  Order ID: 516510230 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="add">
    <div class="flex">
      <span>Status: <label>Completed</label></span>
      <span>12/08/2021</span>
    </div>
    <div class="cart">
      <div class="cart-wrapper">
        <div class="pro">
          <img src="assets/images/product-3.jpg" alt="">
        </div>
        <div class="title">
          <h2>Product Title</h2>
          <ul>
            <li>Size: <span>XXL</span> </li>
            <li>Color: <span>Blue</span> </li>
          </ul>
          <div class="last">
            <div class="text">
              <h3>₹ 4500.00<span>x2</span> </h3>
            </div>

          </div>
        </div>

      </div>
      <div class="cart-wrapper">
        <div class="pro">
          <img src="assets/images/product-1.jpg" alt="">
        </div>
        <div class="title">
          <h2>Product Title</h2>
          <ul>
            <li>Size: <span>L</span> </li>
            <li>Color: <span>White</span> </li>
          </ul>
          <div class="last">
            <div class="text">
              <h3>₹ 8500.00 <span>x2</span> </h3>
            </div>

          </div>
        </div>

      </div>
    </div>
    <div class="address">
      <h3> Shipping Method</h3>
      <h5>Delivery</h5>
      <div class="location">
        <p>FirstName LastName</p>
        <p>Block: 1, Street:3, House/Building No: 4</p>
        <p>City Centre, Durgapur</p>
      </div>

      <h3>  Payment Method</h3>
      <!-- <p>COD<img src="assets/icon/knet.svg"> </p> -->
      <p>Ref ID: 516515351</p>
    </div>



  </div>
</ion-content>
