<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="header">all reviews</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="description-block">
    <div class="ion-padding">
      <h5>Reviews (240)</h5>
      <p class="rating rating-top">3.8/5.0
        <span>
             <ion-icon name="star"></ion-icon>
             <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
        </span>
      </p>
      <div class="rate-individual">
        <h6><span>C</span>Cecilia Craft</h6>
        <small>16 June 2021</small>
        <p class="rating">
          <span>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
          </span>
        </p>
        <p>Dolor sit amet consectetur.</p>
      </div>
      <div class="rate-individual">
        <h6><span>L</span>Lillian Timmons</h6>
        <small>10 July 2021</small>
        <p class="rating">
          <span>
             <ion-icon name="star"></ion-icon>
             <ion-icon name="star"></ion-icon>
             <ion-icon name="star"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
          </span>
        <p>Dolor sit amet consectetur.</p>
      </div>
      <div class="rate-individual">
        <h6><span>H</span>Howard Law</h6>
        <small>14 August 2021</small>
        <p class="rating">
          <span>
            <ion-icon name="star"></ion-icon>
             <ion-icon name="star"></ion-icon>
             <ion-icon name="star"></ion-icon>
             <ion-icon name="star-outline"></ion-icon>
             <ion-icon name="star-outline"></ion-icon>
          </span>
        <p>Dolor sit amet consectetur.</p>
      </div>
      <div class="rate-individual">
        <h6><span>C</span>Cecilia Craft</h6>
        <small>16 March 2021</small>
        <p class="rating">
          <span>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
          </span>
        </p>
        <p>Dolor sit amet consectetur.</p>
      </div>
      <div class="rate-individual">
        <h6><span>L</span>Lillian Timmons</h6>
        <small>10 January 2021</small>
        <p class="rating">
          <span>
             <ion-icon name="star"></ion-icon>
             <ion-icon name="star"></ion-icon>
             <ion-icon name="star"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
          </span>
        <p>Dolor sit amet consectetur.</p>
      </div>
      <div class="rate-individual">
        <h6><span>H</span>Howard Law</h6>
        <small>10 August 2021</small>
        <p class="rating">
          <span>
            <ion-icon name="star"></ion-icon>
             <ion-icon name="star"></ion-icon>
             <ion-icon name="star"></ion-icon>
             <ion-icon name="star-outline"></ion-icon>
             <ion-icon name="star-outline"></ion-icon>
          </span>
        <p>Dolor sit amet consectetur.</p>
      </div>
    </div>
  </div>


<!--  <div class="give-rating">-->
<!--    <div class="ion-padding">-->
<!--      <h5>Give your rating</h5>-->
<!--      <div class="form-block">-->
<!--        <h4 class="rate">-->
<!--          <span>-->
<!--             <ion-icon name="star-outline"></ion-icon>-->
<!--             <ion-icon name="star-outline"></ion-icon>-->
<!--             <ion-icon name="star-outline"></ion-icon>-->
<!--              <ion-icon name="star-outline"></ion-icon>-->
<!--              <ion-icon name="star-outline"></ion-icon>-->
<!--          </span>-->
<!--        </h4>-->
<!--        <textarea placeholder="Write your comment"></textarea>-->
<!--        <ion-button>Submit</ion-button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

</ion-content>
