<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" defaultHref="ordercomfirm"></ion-back-button>
    </ion-buttons>
    <ion-title class="header">Payment Successful</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="add">
    <div class="flex">
      <span>Order ID: 516510230</span>
      <span>12/08/2021</span>
    </div>
<div class="cart">
    <div class="cart-wrapper">
      <div class="pro">
        <img src="assets/images/product-1.jpg" loading="lazy" alt="">
      </div>
      <div class="title">
        <h2>Product Title</h2>
        <ul>
          <li>Size: <span>XXL</span> </li>
          <li>Color: <span>Black</span> </li>
        </ul>
        <div class="last">
          <div class="text">
            <h3>₹ 2500.00 <span>x2</span> </h3>
          </div>

        </div>
      </div>

    </div>
    <div class="cart-wrapper">
      <div class="pro">
        <img src="assets/images/product-3.jpg" loading="lazy" alt="">
      </div>
      <div class="title">
        <h2>Product Title</h2>
        <ul>
          <li>Size: <span>XXL</span> </li>
          <li>Color: <span>Black</span> </li>
        </ul>
        <div class="last">
          <div class="text">
            <h3>₹ 3000.00 <span>x2</span> </h3>
          </div>

        </div>
      </div>

    </div>
</div>
    <div class="address">
      <h3> Shipping Method</h3>
      <h5>Delivery</h5>
      <div class="location">
        <p>John Doe</p>
        <p>Block: 1, Street:3, House/Building No: 4</p>
        <p>Zakir Hussian Road, Kanpur, India</p>
      </div>

      <h3>  Payment Method</h3>
      <p>Rupay Card <img src="assets/images/rupay-card.png" loading="lazy" alt=""/> </p>
      <p>Ref ID: 516515351</p>
    </div>



  </div>
</ion-content>
