<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="header">share application</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-area">
    <div class="pic-area">
      <img src="assets/images/sharing.png" loading="lazy" alt=""/>
    </div>
    <div class="header-area">
      <h2>
        Hrali fashion app
      </h2>
    </div>
    <div class="inner-text">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta dolor dolore esse illo, omnis qui? Accusamus autem beatae ipsam nam necessitatibus nobis non perspiciatis possimus quidem temporibus ullam ut, voluptates?
      </p>
    </div>
  </div>

  <div class="share-btn">
    <ion-fab vertical="center" horizontal="center" slot="fixed">
      <ion-fab-button>
        <ion-icon name="share-social-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button><ion-icon name="logo-whatsapp"></ion-icon></ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="bottom">
        <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="start">
        <ion-fab-button><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="end">
        <ion-fab-button><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </div>
</ion-content>
