ion-content {
    --background: #FAFAFA;
  
    .detailslider {
      position: relative;
      background: #fff;
  
      .slider {
        .first-single {
          position: relative;
          width: 100%;
          display: flex;
  
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
  
      .top {
        position: absolute;
        padding: 14px 11px;
        top: 0;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        width: 100%;
  
        ion-back-button {
          color: #212121;
        }
  
        ion-button {
          --background: #fff;
          border-radius: 50%;
          color: #212121;
          --box-shadow: none;
          margin: 0;
          --padding-end: 5px;
          --padding-start: 5px;
  
          ion-icon {
            font-size: 25px;
          }
        }
  
        ion-back-button {
          --background: #fff;
          border-radius: 50%;
          color: #212121;
          --box-shadow: none;
          margin: 0;
          --padding-end: 5px;
          --padding-start: 5px;
        }
      }
  
      .bottom {
        position: absolute;
        padding: 0px 11px;
        bottom: 30px;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
  
        .left {
          border-radius: 18px;
          background: #FE6565;
          color: #fff;
          font-size: 10px;
          line-height: 28px;
          padding: 0 8px;
        }
  
        ion-button {
          --background: #fff;
          border-radius: 50%;
          color: #212121;
          --box-shadow: none;
          margin: 0;
          --padding-end: 5px;
          --padding-start: 5px;
  
          ion-icon {
            font-size: 25px;
          }
        }
      }
    }
  
    .detail {
      position: relative;
  
      ion-card {
        margin: 0 0 8px 0;
        padding: 16px;
        border-radius: 0;
        font-family: 'Open Sans', sans-serif;
        box-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.2);
        .deal{
            display: flex;
            .one{
                border-radius: 4px;
                background: #f19eaa;
                font-family: Open Sans,sans-serif;
                padding: 4px 18px;
                color: #fe0000;
                font-size: 10px;
                line-height: 20px;
                font-weight: 600;
            }
        }
  
        h2 {
          font-size: 15px;
          line-height: 22px;
          font-weight: 500;
          color: #212121;
          margin: 0 0 12px 0;
          font-family: "Open Sans", sans-serif;
        }
  
        .price {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 12px;
  
          p {
            font-size: 15px;
            line-height: 20px;
            color: var(--ion-color-primary);
            font-weight: 600;
            margin: 0;
            font-family: "Open Sans", sans-serif;
  
            span {
              padding-left: 14px;
              font-size: 14px;
              line-height: 20px;
              color: #9E9E9E;
              font-family: 'Open Sans', sans-serif;
              text-decoration: line-through;
            }
          }
  
          .stock {
            border-radius: 4px;
            background: #B7DFB8;
            font-size: 10px;
            line-height: 20px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            color: #008E05;
            padding: 0px 9px;
          }
        }
  
        .deal {
          display: flex;
  
        }
  
        h3 {
          font-size: 16px;
          line-height: 18px;
          font-family: 'Open Sans', sans-serif;
          color: #212121;
          margin: 0 0 14px 0;
          font-weight: 600;
        }
  
        ion-row {
          margin-bottom: 14px;
  
          ion-col {
            padding: 0;
  
            p {
              margin: 0;
              font-size: 14px;
              line-height: 18px;
              color: #9E9E9E;
            }
  
            h4 {
              margin: 0;
              font-size: 14px;
              line-height: 18px;
              color: #212121;
              font-family: 'Open Sans', sans-serif;
              font-weight: 600;
            }
          }
        }
  
        p {
          font-size: 14px;
          line-height: 21px;
          color: #212121;
          font-family: "Open Sans", sans-serif;
          font-weight: 400;
          margin: 0;
        }
  
        .size {
          display: flex;
          justify-content: space-between;
  
          ion-item {
            --inner-padding-end: 0;
            --background: transparent;
            width: 48%;
            margin-right: 4%;
            --min-height: inherit;
  
            &:last-child {
              margin-right: 0;
            }
  
            label {
              font-size: 14px;
              line-height: 19px;
              font-family: 'Open Sans', sans-serif;
              font-weight: 400;
              margin: 0 6px 0 0;;
            }
  
            ion-select {
              --padding-start: 16px;
              border-radius: 6px;
              border: 1px solid #e8ac27ba;
              --padding-end: 16px;
              max-width: 100%;
              justify-content: center;
              height: 36px;
              --placeholder-color: #212121;
              --placeholder-opacity: 1;
            }
          }
        }
      }
    }
    .info-wrapper {
      background: #fff;
      margin-bottom: 12px;
      .rating {
        font-size: 14px;
        span {
          margin: 0 6px;
          ion-icon {
            color: #FF9800;
          }
        }
      }
    }
    .description-block{
      h5{
        margin-bottom: 8px;
        font-weight: 600;
        font-size: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid #ddd;
        span{
          color: #7b7b7b;
          text-transform: capitalize;
          span{
            img{
              width: 19px;
              vertical-align: text-top;
            }
          }
        }
      }
    }
    .rate-individual {
      position: relative;
      margin-top: 24px;
      h6 {
        margin-bottom: 14px;
        span {
          background: #e62c31;
          color: #fff;
          padding: 10px 17px;
          text-transform: uppercase;
          border-radius: 50%;
          margin-right: 9px;
        }
      }
      small {
        font-family: 'Montserrat', sans-serif;
      }
      p {
        margin: 5px 0;
        font-size: 15px;
      }
      .rating {
        span {
          margin: 0;
        }
      }
    }
    .product {
        margin-bottom: 18px;
    
        &:last-child {
          margin-bottom: 0;
        }
    
        ion-card {
          padding: 0;
          margin: 4px;
          width: 100%;
        }
    
        .pro-box {
          background: #fff;
    
          .photo {
            max-height: 195px;
            width: 100%;
    
            img {
              width: 100%;
              object-fit: cover;
              height: 100%;
              border-top-left-radius: 4px;
              border-top-right-radius: 4px;
            }
    
            ion-button {
              width: 18px !important;
              height: 18px;
              --border-radius: 50%;
              margin: 0;
              --background: #fff;
              position: absolute;
              top: 8px;
              right: 8px;
              --box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.16);
              --padding-start: 0;
              --padding-end: 0;
    
              ion-icon {
                line-height: 18px;
                font-size: 12px;
                color: #151515;
              }
            }
          }
    
          //.time {
          //  margin-bottom: 8px;
          //
          //  ul {
          //    padding: 0;
          //    margin: 0;
          //    display: flex;
          //    width: 100%;
          //    align-items: center;
          //
          //    li {
          //      height: 40px;
          //      border-radius: 4px;
          //      border: 1px solid #EFEFEF;
          //      margin-right: 1px;
          //      background: #FAFAFA;
          //      font-size: 10px;
          //      line-height: 15px;
          //      color: var(--ion-color-primary);
          //      list-style: none;
          //      width: 25%;
          //      padding: 3% 0%;
          //      text-align: center;
          //
          //      span {
          //        display: block;
          //      }
          //
          //      &:last-child {
          //        margin-right: 0;
          //      }
          //    }
          //  }
          //}
    
          .pro-info {
            padding: 0px 8px 15px;
    
            h3 {
              font-size: 13px;
              line-height: 18px;
              color: #212121;
              font-weight: 500;
              margin: 0 0 6px 0;
              text-align: left;
            }
    
            .price1 {
              margin: 0;
              display: flex;
              justify-content: space-between;
    
              p {
                margin: 0;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                display: flex;
    
                span {
                  font-size: 14px;
                  color: var(--ion-color-primary);
                  line-height: 20px;
                  font-weight: 500;
                }
    
                label {
                  text-decoration: line-through;
                  font-size: 12px;
                  line-height: 20px;
                  color: #9E9E9E;
                  font-weight: 400;
                }
              }
    
              svg {
                margin-left: 15px;
                margin-top: 3px;
                fill: var(--ion-color-primary);
                width: 35px;
              }
            }
          }
        }
      }

      h2 {
        padding: 0 16px;
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        line-height: 21px;
        font-weight: 700;
        color: #212121;
        margin: 0 0 13px 0;
    
        span {
          color: #FE6565;
          font-size: 12px;
          line-height: 21px;
          font-weight: 400;
        }
      }
  
    .buynow {
      padding: 16px;
      position: sticky;
      bottom: 0;
      width: 100%;
      z-index: 1;
  
      ion-button {
        height: 48px;
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
        font-family: "Open Sans", sans-serif;
        text-transform: capitalize;
        margin: 0;
        --border-radius: 4px;
      }
  
    }
  }
  
  
  