<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="header"> contact us </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="form-area p20">
      <h2>
          get in touch
      </h2>
      <ion-list lines="none">
          <ion-item class="ion-no-padding">
              <ion-label position="floating">user name</ion-label>
              <ion-input type="text" value="John Doe"></ion-input>
          </ion-item>
          <ion-item class="ion-no-padding">
              <ion-label position="floating">Email address</ion-label>
              <ion-input type="text" value="johndoe@example.com"></ion-input>
          </ion-item>
          <ion-item class="ion-no-padding">
              <ion-label position="floating">subject</ion-label>
              <ion-input type="text" value="Please mention a subject"></ion-input>
          </ion-item>
          <ion-item class="ion-no-padding">
              <ion-label position="floating">message</ion-label>
              <ion-textarea rows="4" value="Write your experience"></ion-textarea>
          </ion-item>
      </ion-list>
      <div class="button-area">
          <ion-button class="submit-btn">submit</ion-button>
      </div>
  </div>
  <div class="contact-info">
    <div class="delivery-timing-area">
      <div class="header-area">
        <h2>delivery timings</h2>
      </div>
      <div class="timing-zone">
        <ul>
          <li>
            1.
            <span>
              8:00 AM To 10:30 AM
            </span>
          </li>
          <li>
            3.
            <span>
              4:00 PM To 7:00 PM
            </span>
          </li>
          <li>
            2.
            <span>
              10:30 AM To 12:30 PM
            </span>
          </li>
        </ul>
        <div class="text-area">
          <p>
            <span>note:</span>
            You can order for maxmimum 2days in advance. i.e., Today & Tomorrow only.
          </p>
        </div>
      </div>
    </div>
    <div class="delivery-timing-area">
      <div class="header-area">
        <h2>help centre</h2>
      </div>
      <div class="timing-zone">
        <b>
          Call Me:
        </b>
        <ul style="margin-top: 9px;">
          <li>
            1.
            <span>
              10:00 AM To 12:00 PM
            </span>
          </li>
          <li>
            3.
            <span>
              12:00 PM To 2:00 PM
            </span>
          </li>
          <li>
            2.
            <span>
              2:00 PM To 4:00 PM
            </span>
          </li>
        </ul>
        <div class="text-area">
          <p>
            <span>note:</span>
            You can order for maxmimum 2days in advance. i.e., Today & Tomorrow only.
          </p>
        </div>
      </div>
    </div>
      <div class="header-area">
          <h2>
              contact info
          </h2>
      </div>
      <div class="wrapper p20">
          <ion-item class="ion-no-padding">
              <ion-icon name="mail"></ion-icon>
              <ion-label>
                  <small>
                      email:
                  </small>
                  <p>
                    info@hralifashion.com
                  </p>
              </ion-label>
          </ion-item>
     
          <ion-item class="ion-no-padding">
              <ion-icon name="call"></ion-icon>
              <ion-label>
                  <small>
                      telephone no:
                  </small>
                  <p>
                    1800-258-4505
                  </p>
              </ion-label>
          </ion-item>
          <ion-item class="ion-no-padding">
              <ion-icon name="navigate"></ion-icon>
              <ion-label>
                  <small>
                      address:
                  </small>
                  <p>
                    Zakir Hussian Road, kanpur, India.
                  </p>
              </ion-label>
          </ion-item>
      </div>

      <div class="other_network">
          <h4>
              other networks
          </h4>
          <ul>
              <li>
                  <ion-icon name="logo-facebook"></ion-icon>
              </li>
              <li>
                  <ion-icon name="logo-twitter"></ion-icon>
              </li>
              <li>
                  <ion-icon name="logo-instagram"></ion-icon>
              </li>
              <li>
                  <ion-icon name="logo-whatsapp"></ion-icon>
              </li>
              <li>
                  <ion-icon name="logo-snapchat"></ion-icon>
              </li>
              <li>
                  <ion-icon name="logo-linkedin"></ion-icon>
              </li>
          </ul>
      </div>
  </div>
</ion-content>
