.img-banner {
    width: 100%;
    object-fit: cover;
    height: 150px;
  }
  .wrapper {
    top: -20px;
    padding: 12px 13px;
    background: #ea2f35;
    position: relative;
    margin: 0 15px;
    border-radius: 5px;
    box-shadow: 0 5px 7px -5px rgba(56, 56, 56, 0.82);
    p {
      font-size: 14px;
      margin: 5px 0;
      color: #fff;
    }
    h4 {
      margin: 2px 0 10px;
      color: #fff;
    }
  }
  
  .ion-padding {
    h5 {
      margin: 7px 0;
      font-size: 12px;
      text-align: center;
      text-transform: capitalize;
    }
    img {
      border-radius: 14px;
    }
  }